$color-header: #363636;
$color-footer: #011926;
$color-text-dark: #0f0300;
$color-text-light: #fefef4;
$color-btn-background: #f88e37;
$color-btn-hover: #e38334;
$color-btn-active: #d1782f;

$page-family: 'Open Sans', sans-serif;
$btn-text-family: 'Barlow Condensed', sans-serif;

* {
  margin: 0;
  font-family: $page-family;
  border: none;
}

body {
  background-color: #ebeae6;
}


.header {
  background-color: $color-header;
}
.navbar {
  display: flex;
  justify-content: center;
		// .navbar__link

		&__link {
      text-decoration: none;
      color: $color-text-light;
      margin: 0 10px;
      padding: 15px 0;
      font-size: 14px;
      text-align: center;
    }
    
    @media (max-width: 500px) {
      flex-direction: column;
    }
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  justify-content: space-between;
		// .container__title

		&__title {
      text-align: center;
      flex-basis: 100%;
      margin: 15px 0;
      font-size: 28px;
    }
    
    @media (max-width: 865px) {
      margin: 0;
      width: 100%;
    }

    @media (max-width: 780px) {
      flex-direction: column;
    }
}
.left-block {
  flex-basis: 40%;
  padding: 0 20px;
		// .left-block__wrapper

		&__wrapper {
      max-width: 320px;
      margin: auto;

        @media (max-width: 500px) {
          max-width: 250px;
        }
		}

		// .left-block__img

		&__img {
      width: 100%;
		}
}
.right-block {
  flex-grow: 1;
  text-align: center;
  line-height: 65px;
  padding-top: 4%;
		// .right-block__wrapper

		&__wrapper {
      font-size: 16px;
      right: 10%;

      @media (max-width: 500px) {
        font-size: 12px;
      }
		}

		// .right-block__btn

		&__btn {
		}
}
.btn {
  background-color: $color-btn-background;
  user-select: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-family: $btn-text-family;
  font-size: 20px;
  color: $color-text-light;

    &:hover {background-color: $color-btn-hover;}
    &:active {background-color: $color-btn-active;}
}
.footer {
  margin-top: 20px;
  background-color: $color-footer;
  padding-top: 40px;
  text-align: center;
  height: 120px;
  padding-left: 10%;
  padding-right: 10%;
		// .footer__title

		&__title {
      color: $color-text-light;
      margin-bottom: 20px;

        @media (max-width: 500px) {
          font-size: 12px;
        }
		}

		// .footer__btn

		&__btn {
		}
}
